body {
  margin: 0;
  /* padding: 0; */
  font-family: 'Inter', sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  color: #fff;

  height: 60px;
}

img {
  margin: 2px;
}

h2 {
  font-size: 20px;
}

main {
  display: flex;
}

.photo-cnt {
  margin: 10px;
  left: 62px;
}

.travel-img {
  height: 500px;
  width: 600px;
}

.text-cnt {
  margin: 10px;
}

h4 {
  letter-spacing: 1px;
  font-size: 18px;
}

a {
  margin-left: 6px;
  letter-spacing: 0;
  color: #918e9b;
  text-decoration: underline;
}

p {
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .travel-img {
    height: 400px;
    width: 550px;
  }

  p {
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }
}

@media (max-width: 600px) {
  .travel-img {
    height: 300px;
    width: 370px;
  }
}
